<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			<%# locals is always available %>
			<% if (locals.title) { %>
				<%= locals.title %> | 
			<% } %>

			<%= locals.siteTitle || 'Site title not set' %>
		</title>
		<link rel="shortcut icon" href="favicon.svg" type="image/x-icon" />
	</head>
	<body>
		<header>
			<h1>Kaboom Shebang</h1>
			<h2>HTTP Trainer</h2>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/requests">Requests</a></li>
					<li><a href="/methods">Methods</a></li>
					<li><a href="/codes">Codes</a></li>
					<li><a href="/headers">Headers</a></li>
				</ul>
			</nav>
		</header>

		<%# start main tag %>
		<main>
