header div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header div > a {
	all: unset; /* remove all global link styles */
	cursor: pointer;
}

header div > a > img {
	padding: 20px 0;
	width: 200px;
}

header h1 {
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--primary);
	color: white;
}

@media only screen and (min-width: 700px) {
	header div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
