:root {
	--primary: #ed9d13;
	--accent: #6ab825;
	--container-width: 1000px;
}

header,
main,
footer {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 20px;
}

html {
	font-size: 14px;
	line-height: 150%;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 3px dashed var(--accent);
}

pre {
	background-color: rgb(212, 212, 212);
}

main h3 {
	color: var(--primary);
	font-size: 1.5rem;
	border-bottom: 2px solid rgb(212, 212, 212);
	padding: 0 0 10px 0;
}
